.container {
    display: grid;
    margin: 0 auto;
    text-align: center;
}
.display-2 {
    font-size: 30px;
    text-align: center;
    color: #e95050;
    margin-top: 4rem;
    margin-bottom: 4rem;
}
#polist th {
    text-align: center;
    background-color: #e95050;
    color: white;
  }